@import '../../style/common/custom.scss';
@import '../../style/mixins/index.scss';
@media all and (max-width: $max-width-750) {
  .mobile-show{
    display: block;
  }
  .mobile-hide{
    display: none;
  }
  .train-city{
    height: px2rem(1160);
    .main-wrap{
      display: flex;
      flex-direction: column;
      // height: px2rem(1160);
      // height: px2rem(1400);
      .flex-common{
        // width: 100%;
        width: auto;
        height: auto;
        .city-numb-name{
          margin-top: 0;
        }
        .city-numb {
          font-size: px2rem(32);
        }
        .numb{
          font-size: px2rem(240);
        }
        .city-name{
          display: flex;
          align-items: flex-end;
          width: px2rem(500);
          height: auto;
          margin-left: px2rem(35);
          margin-bottom: px2rem(40);
          .name{
            margin-right: 0;
            font-size: px2rem(32);
            margin-right: px2rem(35);
          }
        }
        .slide-info{
          margin-top: 0;
          // background: gold;
          height: px2rem(790);
        }
        .city-img{
          width: px2rem(690);
          height: px2rem(500);
        }
        .city-desc-info{
          display: flex;
          position: absolute;
          bottom: 0;
          height: px2rem(220);
          align-items: flex-start;

          &::before{
            background: transparent;
          }
          .city-name{
            align-items: flex-start;
            width: px2rem(115);
            font-size: px2rem(36);
          }
          .city-desc{
            flex: 1;
            font-size: px2rem(26);
          }
        }
        .swiper-pagination{
          top: px2rem(530);
          text-align: center;
          width: 100%;
          bottom: 0;
        }
        .city-data-desc{
          right: px2rem(30);
          bottom: px2rem(50);
          font-size: px2rem(22);
        }
      }
      .my-bullet{
        border-radius: 999px;
        width: px2rem(16);
        height: px2rem(16);
        // margin: 0 10px;
        margin-right: px2rem(15);
      }

      .my-bullet-active{
        background: #177fff;
        width: px2rem(30);
      }
    }
  }
}
