@import '../../style/common/custom.scss';
@import '../../style/mixins/index.scss';
@media all and (max-width: $max-width-750) {
  .summary-warp{
    padding-top: px2rem(25);
    border-bottom: px2rem(2) solid $summary-border-color;
    .title{
      .title-txt{
        font-size: $font-size-16;
        line-height: px2rem(78);
        font-size: px2rem(32);
        &::before{
          bottom: px2rem(-2);
          border-bottom:px2rem(2) solid $active-color;
        }
      }
    }
  }
}
