@import '../../style/common/custom.scss';
@import '../../style/mixins/index.scss';
@media all and (max-width: $max-width-750) {
  .mobile-hide{
    display: none;
  }
  .mobile-show{
    display: block;
  }

  #main > .main-wrap{
    .news-info-wrap{
      .news-item{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        border-bottom-width: px2rem(1);
        padding: px2rem(0) px2rem(30);
        min-height: px2rem(200);

      }
      .news-mobile{
        &::before{
          position: absolute;
          right: px2rem(30);
          top: 50%;
          margin-top: px2rem(-30);
          font-size: px2rem(40);
          content: '\e660';
          font-family: "iconfont";
          color: $active-color;
        }
      }
      .news-default{
        .news-title{
          max-width: px2rem(590);
          font-size: px2rem(30);
          line-height: 1.5;
          white-space: normal;
        }
      }
      .news-push{
        flex-direction: column;
        padding-bottom: 0;
        margin-left: 0;
        .news-img{
          width: px2rem(690);
          height: px2rem(400);
          // margin: 0 auto;
        }
        .news-info{
          display: flex;
          align-items: center;
          height: px2rem(180);
          margin-left: 0;
          .news-title{
            font-size: px2rem(30);
            line-height: 1.5;
          }
        }
      }

      .news-pages{
        // position: absolute;
        // bottom: 0;
        margin-left: px2rem(30);
        .pager-jump{
          margin: 0 auto;
          display: none;
        }
      }
    }
  }
}
