@import '../../style/common/custom.scss';
@import '../../style/mixins/index.scss';
@media all and (max-width: $max-width-750) {
  #headerWrap{
    .main-wrap{
      height: px2rem(120);
    }
    .header-mobile-hide{
      display: none;
    }
    .header-mobile-show{
      display: block;
    }
    .logo-link{
      height: px2rem(120);
    }
    .logo-link .icon{
      font-size: px2rem(90);
    }
    .logo-sdwl{
      left: px2rem(150);
      top: px2rem(26);
      &::before{
        left: px2rem(-30);
        top: px2rem(5);
        height: px2rem(60);
      }
    }
    .sdgswl-img{
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: px2rem(450);
      height: px2rem(40);
      top: px2rem(40);
    }
    .trigger-icon{
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      width: px2rem(120);
      height: px2rem(120);
      z-index: 10;
      background: #fff;
      .icon{
        color: $active-color;
        font-size: px2rem(50);
      }
    }
    .trigger-icon-fixed{
      position: fixed;
    }
    .header-mobile-show-style{
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: px2rem(750);
      background: rgba(0, 0, 0, .8);
      .logo{
        text-align: center;
      }
      .menu-icon{
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        right: 0;
        color: $active-color;
        transition: all .3s;
        width: px2rem(120);
        height: px2rem(120);
        background: #fff;
        .icon{
          font-size: px2rem(50);
        }
      }
      .slide-nav{
        width: px2rem(630);
        background: #333;
        height: 100%;
      }
      .slide-logo{
        width: px2rem(432);
        height: px2rem(60);
        margin-left: px2rem(76);
        margin-top: px2rem(34);
      }
      .nav-list{
        .nav-link{
          display: block;
          position: relative;
          color: #fff;
          font-size: px2rem(32);
          line-height: px2rem(120);
          box-sizing: border-box;
          padding: 0 px2rem(76);
          &::before{
            position: absolute;
            bottom: 0;
            left: px2rem(76);
            right: 0;
            content: '';
            border-bottom: px2rem(1) solid #4d4d4d;
          }
          &.active{
            background: #1f1f1f;
            color: $active-color;
            &::before{
              border-color: #1f1f1f;
            }
          }
        }
      }
    }

    .fade-enter-active,
    .fade-leave-active{
      transition: all .3s;
    }

    .fade-enter,
    .fade-leave-to{
      transform: translateX(-100%);
    }
  }
}
