@import '../../style/common/custom.scss';
@import '../../style/mixins/index.scss';
@media all and (max-width: $max-width-750) {
  #footerWrap{
    .mobile-hide{
      display: none;
    }
    .mobile-show{
      display: block;
    }
    .footer-nav{
      display: flex;
      justify-content: space-around;
      margin-top: px2rem(50);
      .nav-link{
        font-size: px2rem(24);
        color: #cccccc;
        line-height: 1.5;
      }
    }
    .footer-mobile-copy{
      margin-top: px2rem(40);
      .copy-1,
      .copy-2{
        font-size: px2rem(22);
        color: $active-color;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1;
        margin-bottom: px2rem(20);
      }
    }
  }
}
