$max-width-750: 750px;
$max-width-1024: 1024px;
$max-width: 100%;
$max-height: 100%;

$header-height: 80px;
$header-height-750: 120;
$footer-height: 74px;
$footer-height-750: 228;
$padding-20: 20px;

$font-color: #1a1a1a;
$font-color-333: #333;
$font-color-666: #666;
$active-color: #177fff;
$font-color-white: #fff;
$news-color: #534d4d;

$font-size-12: 12px;
$font-size-13: 13px;
$font-size: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;

$foot_bg_color: #101010;

$border-color-ccc: #cccccc;
$summary-border-color: #e2e2e2;
$breadcrumb-border-color: #dedfe2;
